#search-component {
  max-width: 600px;
  margin: 20px auto;
  display: block;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

input.mat-input-element {
  font-size: 1.2rem;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

mat-nav-list a {
  font-size: 1.2rem;
  color: #666;
  transition: color 0.3s;
}

mat-nav-list a:hover {
  color: #1976d2;
  background-color: #f5f5f5;
}

.mat-list-item {
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.mat-list-item:focus, .mat-list-item:active {
  background-color: #ececec;
}
