<div>
    <mat-form-field appearance="fill">
        <mat-label>Hero name:</mat-label>
        <input matInput #heroName id="new-hero" />
    </mat-form-field>

    <button
        mat-raised-button
        color="primary"
        class="add-button"
        (click)="add(heroName.value); heroName.value = ''"
    >
        Add hero
    </button>
</div>

<mat-list class="heroes">
    <mat-list-item *ngFor="let hero of heroes">
        <a matLine routerLink="/detail/{{ hero.id }}">{{ hero.name }}</a>
        <span class="badge">{{ hero.id }}</span>
        <button
            mat-icon-button
            class="delete"
            title="delete hero"
            (click)="delete(hero)"
        >
            <mat-icon aria-label="delete hero">X</mat-icon>
        </button>
    </mat-list-item>
</mat-list>
